@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>None of the owners of these cats have consented for their cats names or images to be shared on social media, please respect their privacy.</p>
